.borderLine{
    border: 3px solid rgb(28, 235, 148);
    margin-top: 5px;
}

header{
    
    width: 99.8%;
    height: 100px;
}

main{
    width: 55.9%;
    height: 100vh;
    float: left;
    margin-left: 10;
    margin-right: 10;
}

aside{
    float: left;
    width: 21%;
    height: 100vh;
}

footer{
    width: 100%;
    height: 100px;
    float: left;
}